@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
  font-family: 'Lato';
}

.App-header {
  background-color: #bfd8cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards {
  display: flex;
}

.displaycard {
  margin: 2vw;
}

.switch {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slider {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.individualinput {
  margin: 10px;
}

.systemnotis {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
