.App {
  text-align: center;
}

.App-header {
  background-color: #bfd8cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards {
  display: flex;
}

.displaycard {
  margin: 2vw;
}

.switch {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slider {
  align-items: center;
  justify-content: center;
  margin: auto;
}
